/* Estilos generales para el carrito de compras */
.cartItem {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* Estilos específicos para la imagen */

/* Estilos para el nombre del producto */
.cartItem h5 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.cartItemPrice {
  color: #009688;
  margin: 5px 0;
}

.cartItemQuantity {
  color: #555;
  margin: 5px 0;
}

.rmvBtn {
  cursor: pointer;
  color: #fff;
  background-color: #ff6f61;
  border: none;
  padding: 5px;
  position: relative;
  bottom: 5px;
  border-radius: 50%;
}

.finalizarCompraBtn {
  margin-top: 20px;
}
