ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  width: 100%;
}

a {
  cursor: pointer;
}

.menu {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 90vw;
  height: 70px;
  margin-bottom: 80px;
  background-color: #8739f9;
  border-radius: 5px;
}

.menu li {
  display: inline-block;
  width: 14%;
  transition: all 0.3s ease-in-out;
}

.menu li:hover .submenu {
  height: 55px;
}

.menu > li:hover > a {
  color: #ffffff;
}

.menu > li:hover > a::before {
  visibility: visible;
  scale: 1 1;
}

.submenu {
  overflow: hidden;
  position: absolute;
  left: 15.6%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 74.3%;
  background-color: #8739f9;
  height: 0;
  line-height: 40px;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.menu li .submenu a {
  color: #fff;
  opacity: 0;
  font-size: 16px;
  transition: opacity 0.25s;
}

.menu > li:hover .submenu a {
  opacity: 1;
}

.menu > li a {
  color: #f2f5f5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px;
  text-decoration: none;
  position: relative;
  height: 100%;
}

.menu > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0px;
  background-color: #8739f9;
  transition: all 0.2s ease-in-out;
  scale: 0 0;
  visibility: hidden;
}
.MuiSvgIcon-fontSizeMedium {
  color: #f2f5f5e5;
}
.MuiBottomNavigationAction-label {
  color: white;
  text-decoration: none;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .menu {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 90vw;
  }
}

@media (max-width: 890px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
  }

  .menu li {
    margin: 15px 0px 30px;
    z-index: 1;
  }

  .submenu {
    height: 0;
    line-height: 40px;
    width: 30vw;
    margin-left: 45%;
    transition: height 0.3s ease-in-out;
  }
  .submenu li {
    margin: auto;
    width: 100%;
    transition: all 0.3ms;
  }
  .menu li:hover .submenu {
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    margin-top: -5%;
    height: 130px;
    width: 30vw;
    background-color: rgb(128, 46, 252);
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0.199) 1px;
    box-shadow: #fff;
  }

  .menu li:hover .submenu a {
    margin: auto;
    width: 30px;
  }
}
